.header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid black;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
/* Logo */
.logo img {
  width: 30%;
  justify-content: space-between;
  margin-left: -9rem;
  margin-top: -0.5rem;
}

/* Menu */
.menu {
  margin-bottom: 0;
}

.nav__item a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 1.1rem;
}

.nav__item a.active__link {
  color: var(--secondary-color);
}

/* Mobile Menu Icon */
.mobile__menu {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--heading-color);
  display: none;
  position: absolute;
  top: 0px;
  right: 3rem;
  z-index: 1000;
  justify-content: center;
  align-items: center;  
}

/* Sticky Header */
.sticky__header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 8px -3px #ddd;
  z-index: 999;
}

/* Responsive Design */
@media only screen and (min-width: 1200px){
  .container__btn{
    display: flex;
    top: 0;
    right: 1rem;
    margin-top: -0rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .logo img {
  width: 30%;
  margin-left: -5rem;
  margin-top: -0.5rem;
}  
  .container__btn{
    display: flex;
    top: 0;
    right: 1rem;
    margin-top: -0rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }
}
@media only screen and (max-width: 992px) {
  .logo img {
    width: 35%;
  }
  .container__btn {
    display: flex;
    margin-top: -0.3rem;
    display: none;
  }
  /* Hide the navigation by default */
  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 60vh;
    background: white; /* Darker background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%);
  }

  /* Show menu when toggled */
  .navigation.show__menu {
    transform: translateX(0);
  }

  .menu {
    background: #fff;
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
  }

  .menu .nav__item {
    margin-bottom: 1rem;
  }

  .mobile__menu {
    display: block;
  }
}
@media only screen and (max-width: 576px) {
  .logo img {
    margin-left: -2rem;
    width: 30%;
  }
  .menu {
    width: 90%;
  }
}
